.Form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 80px;
}

.form-title {
	display: flex;
	align-items: baseline;
	margin-bottom: 20px;
}

.money-icon {
	margin-left: 20px;
	font-size: 2rem;
	background: none;
}
